.cart {
    position: sticky;
    top: 0;
    background-color: antiquewhite;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.partial {
    width: 280px;
    height: 40px;
    background-color: aqua;
    margin-left: 10px;
}

.partial button {
    margin-right: 20px;
    margin-top: 10px;
}